* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #222;
  background: #f1f5f8;
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 300;
}

h1 {
  font-weight: 400;
  text-transform: capitalize;
  text-align: center;
}

.btn {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: #476a2e;
  border: 2px solid #476a2e;
  padding: 0.45rem 0.8rem;
  display: inline-block;
  cursor: pointer;
  font-size: 0.8rem;
  background: transparent;
  border-radius: 0.25rem;
}

.btn:hover {
  background: #476a2e;
  color: #fff;
}

.about {
  width: 85vw;
  max-width: 40rem;
  margin: 2rem auto;
}

.about h1 {
  text-align: center;
  font-weight: 400;
}

.about p {
  line-height: 2rem;
  font-weight: 400;
  letter-spacing: 2px;
}

.error {
  margin: 2rem auto;
  display: flex;
  justify-content: center;
}

.error-container {
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
}

.loading {
  margin-top: 15rem;
  font-weight: 600;
}